<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hive data</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/bee-icon-new.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/slicknav.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/hamburgers.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/style-update-personal.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script th:src="@{/js/updateDeviceData.js}" defer></script>
<!--    <script th:src="@{/js/updateDeviceDataChart.js}" defer></script>-->
    <script th:src="@{/js/hiveDataUpdate.js}" defer></script>
    <script th:src="@{/js/chartHandler.js}" defer></script>

</head>
<body>
    <div id="preloader-active" th:insert="~{fragments/preloader :: preloader}"></div>

    <header th:insert="~{fragments/header :: header}"></header>

<main>
    <!-- Slider Area Start-->
    <div class="slider-area slider-bg ">
        <!-- Single Slider -->
        <div class="single-slider d-flex align-items-center slider-height3">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-8 col-lg-9 col-md-12 ">
<!--                        <div class="hero__caption hero__caption3 text-center">-->
<!--                            <h1 th:text="'Check your data, ' + ${#authentication.name} + '!'" data-animation="fadeInLeft" data-delay=".6s "></h1>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Shape -->
        <div class="slider-shape d-none d-lg-block">
            <img class="slider-shape1" src="/assets/img/hero/top-left-shape-new.png" alt="">
        </div>
    </div>


    <input type="hidden" id="serialNumber" th:value="${theDevice.serialNumber}">

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="box text-center p-4">
                    <div class="icon mb-2"><i class="fas fa-thermometer-half"></i></div>
                    <div class="title">Temperature</div>
                    <div id="sensor1" class="value">22°C</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box text-center p-4">
                    <div class="icon mb-2"><i class="fas fa-tint"></i></div>
                    <div class="title">Humidity</div>
                    <div id="sensor2" class="value">55%</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box text-center p-4">
                    <div class="icon mb-2"><i class="fas fa-water"></i></div>
                    <div class="title">Water Level</div>
                    <div id="sensor4" class="value">No water</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box text-center p-4">
                    <div class="icon mb-2"><i class="fas fa-volume-up"></i></div>
                    <div class="title">Noise</div>
                    <div id="sensor5"  class="value">Quiet</div>
                </div>
            </div>
        </div>
    </div>
<!-- IMPORTANT OLD IMPLEMENTATION! -->
<!--    <div class="container mt-5">-->
<!--        <div class="row">-->
<!--            <div class="col-md-2 d-flex flex-column justify-content-between">-->
<!--                <select id="sensorSelect" class="form-control mb-2">-->
<!--                    <option value="all">All Sensors</option>-->
<!--                    <option value="1">Sensor 1</option>-->
<!--                    <option value="2">Sensor 2</option>-->
<!--                    <option value="3">Sensor 3</option>-->
<!--                    <option value="4">Sensor 4</option>-->
<!--                    <option value="5">Sensor 5</option>-->
<!--                </select>-->
<!--                <select id="timeSelect" class="form-control mb-2">-->
<!--                    <option value="5">5 Minutes</option>-->
<!--                    <option value="15">15 Minutes</option>-->
<!--                    <option value="30">30 Minutes</option>-->
<!--                    <option value="60">1 Hour</option>-->
<!--                    <option value="1440">1 Day</option>-->
<!--                </select>-->
<!--                <select id="frequencySelect" class="form-control mb-2">-->
<!--                    <option value="1">1 Minute</option>-->
<!--                    <option value="5">5 Minutes</option>-->
<!--                    <option value="15">15 Minutes</option>-->
<!--                    <option value="30">30 Minutes</option>-->
<!--                    <option value="60">60 Minutes</option>-->
<!--                </select>-->
<!--                <button id="generateButton" class="btn btn-primary mb-2">Generate</button>-->
<!--                <button id="realTimeButton" class="btn btn-primary mb-2">Real-Time</button>-->
<!--            </div>-->
<!--            <div class="col-md-10">-->
<!--                <canvas id="myChart"></canvas>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="container mt-5">-->
<!--        <div class="row">-->
<!--            <div class="col-md-2 mt-3">-->
<!--                <div class="row mb-3">-->
<!--                    &lt;!&ndash; Date Picker &ndash;&gt;-->
<!--                    <div class="col-md-12">-->
<!--                        <label for="datePicker">Select Day</label>-->
<!--                        <input type="date" id="datePicker" class="form-control" placeholder="Select Date">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row mb-3">-->
<!--                    <div class="col-md-12">-->
<!--                        <label for="sensorSelect">For Sensor</label>-->
<!--                        <select id="sensorSelect" class="form-control w-100">-->
<!--                            <option value="1" selected>Sensor 1</option>-->
<!--                            <option value="2">Sensor 2</option>-->
<!--                            <option value="3">Sensor 3</option>-->
<!--                            <option value="4">Sensor 4</option>-->
<!--                            <option value="5">Sensor 5</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row mb-3">-->
<!--                    <div class="col-md-12">-->
<!--                        <label for="timeFrom">From</label>-->
<!--                        <input type="time" id="timeFrom" class="form-control" placeholder="From">-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="row mb-3">-->
<!--                    <div class="col-md-12">-->
<!--                        <label for="timeTo">To</label>-->
<!--                        <input type="time" id="timeTo" class="form-control" placeholder="To">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12 mb-3">-->
<!--                        &lt;!&ndash; Generate Button &ndash;&gt;-->
<!--                        <button id="generateButton" class="btn btn-primary">Generate</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Right side: Chart &ndash;&gt;-->
<!--            <div class="col-md-10">-->
<!--                <canvas id="myChart"></canvas>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="container mt-5">
        <!-- New Row with Toggle Buttons -->
        <div class="row mb-4">
            <div class="col-md-2 text-center">
                <button id="showNewControls" class="btn-custom w-100">DateTime</button>
            </div>
            <div class="col-md-2 text-center">
                <button id="showOldControls" class="btn-custom w-100">Averages</button>
            </div>
            <div class="col-md-2 text-center">
                <button id="realTimeButton" class="btn-custom w-100">RealTime</button>
            </div>
        </div>

        <div class="row">
            <!-- Left side: New Controls (initially shown) -->
            <div id="newControls" class="col-md-2 mt-3">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="datePicker">Select Day</label>
                        <input type="date" id="datePicker" class="form-control" placeholder="Select Date">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="sensorSelect">For Sensor</label>
                        <select id="sensorSelect" class="form-control w-100">
                            <option value="1" selected>Temperature</option>
                            <option value="2">Humidity</option>
<!--                            <option value="3">Sensor 3</option>-->
                            <option value="4">Water level</option>
                            <option value="5">Noise</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="timeFrom">From</label>
                        <input type="time" id="timeFrom" class="form-control" placeholder="From">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="timeTo">To</label>
                        <input type="time" id="timeTo" class="form-control" placeholder="To">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <button id="generateButton" class="btn btn-primary w-100">Generate</button>
                    </div>
                </div>
            </div>

            <!-- Left side: Old Controls (initially hidden) -->
            <div id="oldControls" class="col-md-2 mt-3" style="display: none;">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="oldSensorSelect">Sensor</label>
                        <select id="oldSensorSelect" class="form-control w-100 mb-2">
<!--                            <option value="all">All Sensors</option>-->
                            <option value="1">Temperature</option>
                            <option value="2">Humidity</option>
<!--                            <option value="3">Sensor 3</option>-->
                            <option value="4">Water level</option>
                            <option value="5">Noise</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="timeSelect">For Period</label>
                        <select id="timeSelect" class="form-control w-100 mb-2">
                            <option value="5">5 Minutes</option>
                            <option value="15">15 Minutes</option>
                            <option value="30">30 Minutes</option>
                            <option value="60">1 Hour</option>
                            <option value="1440">1 Day</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="frequencySelect">With Frequency</label>
                        <select id="frequencySelect" class="form-control w-100 mb-2">
                            <option value="1">1 Minute</option>
                            <option value="5">5 Minutes</option>
                            <option value="15">15 Minutes</option>
                            <option value="30">30 Minutes</option>
                            <option value="60">60 Minutes</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <button id="generateButtonOld" class="btn btn-primary mb-2 w-100">Generate</button>
                    </div>
                </div>
            </div>

            <!-- Right side: Chart -->
            <div class="col-md-10">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>


<!--    <section class="pricing-card-area pricing-card-area2 section-padding300">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">-->
<!--                    <div class="single-card-personal text-center mb-30">-->
<!--                        <div class="card-top">-->
<!--                            <h4>Sensor 1</h4>-->
<!--                        </div>-->
<!--                        <div class="card-mid">-->
<!--                            <h4 id="sensor1"></h4>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">-->
<!--                    <div class="single-card-personal text-center mb-30">-->
<!--                        <div class="card-top">-->
<!--                            <h4>Sensor 2</h4>-->
<!--                        </div>-->
<!--                        <div class="card-mid">-->
<!--                            <h4 id="sensor2"></h4>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">-->
<!--                    <div class="single-card-personal text-center mb-30">-->
<!--                        <div class="card-top">-->
<!--                            <h4>Sensor 3</h4>-->
<!--                        </div>-->
<!--                        <div class="card-mid">-->
<!--                            <h4 id="sensor3"></h4>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">-->
<!--                    <div class="single-card-personal text-center mb-30">-->
<!--                        <div class="card-top">-->
<!--                            <h4>Sensor 4</h4>-->
<!--                        </div>-->
<!--                        <div class="card-mid">-->
<!--                            <h4 id="sensor4"></h4>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">-->
<!--                    <div class="single-card-personal text-center mb-30">-->
<!--                        <div class="card-top">-->
<!--                            <h4>Sensor 5</h4>-->
<!--                        </div>-->
<!--                        <div class="card-mid">-->
<!--                            <h4 id="sensor5"></h4>-->
<!--                        </div>-->
<!--                        <div class="card-bottom">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--&lt;!&ndash;                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="single-card-personal text-center mb-30">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="card-top">&ndash;&gt;-->
<!--&lt;!&ndash;                            <h4>Want more?</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="card-mid">&ndash;&gt;-->
<!--&lt;!&ndash;                            <h4>Click to buy!</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="card-bottom">&ndash;&gt;-->
<!--&lt;!&ndash;                            <a id="leave" href="#" th:href="@{/}" class="borders-btn">Click!</a>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

<!--    <section class="pricing-card-area pricing-card-area2 section-padding300">-->
<!--        <div class="container">-->
<!--            <div class="row justify-content-center">-->
<!--                &lt;!&ndash; Temperature Sensor &ndash;&gt;-->
<!--                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-3">-->
<!--                    <div class="single-card-personal text-center mb-30" style="background-color: rgba(255, 193, 7, 0.7); border-radius: 10px; padding: 20px; box-shadow: 0 4px 8px rgba(0,0,0,0.2);">-->
<!--                        <div class="card-top">-->
<!--                            <h5 style="font-weight: bold;"><i class="fas fa-thermometer-half"></i> Temperature</h5>-->
<!--                        </div>-->
<!--                        <div class="card-mid">-->
<!--                            <h4 id="sensor1" style="margin-top: 10px;">30.1</h4>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Humidity Sensor &ndash;&gt;-->
<!--                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-3">-->
<!--                    <div class="single-card-personal text-center mb-30" style="background-color: rgba(255, 193, 7, 0.7); border-radius: 10px; padding: 20px; box-shadow: 0 4px 8px rgba(0,0,0,0.2);">-->
<!--                        <div class="card-top">-->
<!--                            <h5 style="font-weight: bold;"><i class="fas fa-tint"></i> Humidity</h5>-->
<!--                        </div>-->
<!--                        <div class="card-mid">-->
<!--                            <h4 id="sensor2" style="margin-top: 10px;">39.2</h4>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Water Level Sensor &ndash;&gt;-->
<!--                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-3">-->
<!--                    <div class="single-card-personal text-center mb-30" style="background-color: rgba(255, 193, 7, 0.7); border-radius: 10px; padding: 20px; box-shadow: 0 4px 8px rgba(0,0,0,0.2);">-->
<!--                        <div class="card-top">-->
<!--                            <h5 style="font-weight: bold;"><i class="fas fa-water"></i> Water Level</h5>-->
<!--                        </div>-->
<!--                        <div class="card-mid">-->
<!--                            <h4 id="sensor4" style="margin-top: 10px;">$0.21</h4>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Noise Sensor &ndash;&gt;-->
<!--                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-3">-->
<!--                    <div class="single-card-personal text-center mb-30" style="background-color: rgba(255, 193, 7, 0.7); border-radius: 10px; padding: 20px; box-shadow: 0 4px 8px rgba(0,0,0,0.2);">-->
<!--                        <div class="card-top">-->
<!--                            <h5 style="font-weight: bold;"><i class="fas fa-volume-up"></i> Noise</h5>-->
<!--                        </div>-->
<!--                        <div class="card-mid">-->
<!--                            <h4 id="sensor5" style="margin-top: 10px;">$0.21</h4>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->




</main>
<footer>
    <div class="footer-wrappr " data-background="assets/img/gallery/footer-bg-new.png">
        <div class="footer-area footer-padding-data">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-caption mb-50">
                        </div>
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="footer-copy-right text-center">
                                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | HiveBuddy</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- JS here -->

<script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/animated.headline.js"></script>
<script src="/assets/js/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="/assets/js/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<script src="/assets/js/jquery.nice-select.min.js"></script>
<script src="/assets/js/jquery.sticky.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="/assets/js/jquery.counterup.min.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/jquery.countdown.min.js"></script>
<script src="/assets/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="/assets/js/contact.js"></script>
<script src="/assets/js/jquery.form.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/mail-script.js"></script>
<script src="/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>


</body>
</html>