<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hive data</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/bee-icon-new.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/slicknav.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/hamburgers.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

<!-- ? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="/assets/img/logo/bee-icon.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <!-- Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="#" th:href="@{/}"><img src="/assets/img/logo/bee-logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li th:if="${session.user != null}"><a id="myhives" href="#" th:href="@{/personalHome}">My Hives</a></li>
                                            <li><a id="home" href="#" th:href="@{/}">Home</a></li>
                                            <!-- Button -->
                                            <li class="button-header margin-left "><a id="signup" href="#" th:href="@{/register/showRegistration}" class="btn">Sign Up</a></li>
                                            <li th:if="${session.user == null}" class="button-header"><a id="signin" href="#" th:href="@{/showLogin}" class="btn3">Sign In</a></li>
                                            <li th:if="${session.user != null}" class="button-header">
                                                <a id="gotologout" href="#" th:href="@{/logout}" class="btn3">Log out</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                         Mobile Menu
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>

<main>
    <!-- Slider Area Start-->
    <div class="slider-area slider-bg ">
        <!-- Single Slider -->
        <div class="single-slider d-flex align-items-center slider-height3">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-8 col-lg-9 col-md-12 ">
                        <div class="hero__caption hero__caption3 text-center">
                            <h1 th:text="'Check your data, ' + ${session.user.username} + '!'" data-animation="fadeInLeft" data-delay=".6s "></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Shape -->
        <div class="slider-shape d-none d-lg-block">
            <img class="slider-shape1" src="/assets/img/hero/top-left-shape-new.png" alt="">
        </div>
    </div>



    <a th:text="'HiveID: '"></a>
    <input id="serial" th:value="${theDevice.serialNumber}" th:text="${theDevice.serialNumber}" style="display: none; color: white;" />



<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>



<script>

    const stompClient = new StompJs.Client({
        brokerURL: 'ws://188.166.49.123:8080/ws-message'
    });

    stompClient.activate();
    stompClient.onConnect = (frame) => {
        setConnected(true);
        console.log('Connected: ' + frame);
        stompClient.subscribe("/user/specific", function (sensorData) { //testData
            show(JSON.parse(sensorData.body));

        });

        sendName();
    }

    function setConnected(connected) {
        $("#connect").prop("disabled", connected);
        $("#disconnect").prop("disabled", !connected);
    }

    function disconnect() {
        stompClient.deactivate();
        setConnected(false);
        console.log("Disconnected");

        var serialValue = $("#serial").val();

        var payload = {
            name: serialValue,
            status: 'off'
        };

        stompClient.publish({
            destination: "/app/private",
            body: JSON.stringify(payload)
        });
    }

    function sendName() {
        if (stompClient) {

            var serialValue = $("#serial").val();

            var payload = {
                name: serialValue,
                status: 'on'
            };

            stompClient.publish({
                destination: "/app/private",
                body: JSON.stringify(payload)
            });
        } else {
            console.error("Stomp client is not initialized.");
        }
    }


    function show(message) {
        $("#sensor1").text(`${message.sensor1}`);
        $("#sensor2").text(`${message.sensor2}`);
        $("#sensor3").text(`${message.sensor3}`);
        $("#sensor4").text(`${message.sensor4}`);
        $("#sensor5").text(`${message.sensor5}`);
    }

    $(function () {
        $("form").on("submit", function (e) {
            e.preventDefault();
        });
        $("#connect").click(function () {
            connect();
        });
        $("#disconnect").click(function () {
            disconnect();
        });
        $("#myhives").click(function () {
            disconnect();
        });
        $("#signin").click(function () {
            disconnect();
        });
        $("#home").click(function () {
            disconnect();
        });
        $("#gotologout").click(function () {
            disconnect();
        });
        $("#leave").click(function () {
            disconnect();
        });
    });


</script>

    <section class="pricing-card-area pricing-card-area2 section-padding300">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card-personal text-center mb-30">
                        <div class="card-top">
                            <h4>Sensor 1</h4>
                        </div>
                        <div class="card-mid">
                            <h4 id="sensor1"></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card-personal text-center mb-30">
                        <div class="card-top">
                            <h4>Sensor 2</h4>
                        </div>
                        <div class="card-mid">
                            <h4 id="sensor2"></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card-personal text-center mb-30">
                        <div class="card-top">
                            <h4>Sensor 3</h4>
                        </div>
                        <div class="card-mid">
                            <h4 id="sensor3"></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card-personal text-center mb-30">
                        <div class="card-top">
                            <h4>Sensor 4</h4>
                        </div>
                        <div class="card-mid">
                            <h4 id="sensor4"></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card-personal text-center mb-30">
                        <div class="card-top">
                            <h4>Sensor 5</h4>
                        </div>
                        <div class="card-mid">
                            <h4 id="sensor5"></h4>
                        </div>
                        <div class="card-bottom">
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card-personal text-center mb-30">
                        <div class="card-top">
                            <h4>Want more?</h4>
                        </div>
                        <div class="card-mid">
                            <h4>Click to buy!</h4>
                        </div>
                        <div class="card-bottom">
                            <a id="leave" href="#" th:href="@{/}" class="borders-btn">Click!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>
<footer>
    <div class="footer-wrappr " data-background="assets/img/gallery/footer-bg-new.png">
        <div class="footer-area footer-padding-data">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-caption mb-50">
                        </div>
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="footer-copy-right text-center">
                                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | HiveBuddy</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- JS here -->

<script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/animated.headline.js"></script>
<script src="/assets/js/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="/assets/js/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<script src="/assets/js/jquery.nice-select.min.js"></script>
<script src="/assets/js/jquery.sticky.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="/assets/js/jquery.counterup.min.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/jquery.countdown.min.js"></script>
<script src="/assets/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="/assets/js/contact.js"></script>
<script src="/assets/js/jquery.form.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/mail-script.js"></script>
<script src="/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>


</body>
</html>