<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hive Data Page</title>

</head>
<body>

<h1>HIVE DATA PAGE</h1>
<hr>

<input id="serial" th:value="${theDevice.serialNumber}" th:text="${theDevice.serialNumber}" style="display: none;" />


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>



<script>

    var stompClient = null;

    function connect () {
        var socket = new SockJS("http://localhost:8080/ws-message");
        stompClient = Stomp.over(socket);

        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe("/user/specific", function (sensorData) { //testData
                show(JSON.parse(sensorData.body));
            });
            $("#send").prop("disabled", false);

        });
    }

    function disconnect() {
        stompClient.deactivate();

        stompClient = null;

        console.log("Disconnected");
    }

    function sendName() {
        if (stompClient) {
            var serialValue = $("#serial").val();

            stompClient.send(
                "/app/private",
                {},
                JSON.stringify({ name: serialValue })
            );
        } else {
            console.error("Stomp client is not initialized.");
        }
    }

    function sendStop() {
        if (stompClient) {
            stompClient.send(
                "/app/private"
            )
        }
    }

    function show(message) {
        $("#sensorData").text(
            `<p>Sensor1: ${message.sensor1}, Sensor2: ${message.sensor2}, Sensor3: ${message.sensor3}, Sensor4: ${message.sensor4}, Sensor5: ${message.sensor5}</p>`
        );
    }

    $(function () {
        $("form").on("submit", function (e) {
            e.preventDefault();
        });
        $("#connect").click(function () {
            connect();
        });
        $("#disconnect").click(function () {
            disconnect();
        });
        $("#send").click(function () {
            sendName();
        });
    });

    function updateSensorData(data) {
        var sensorDataElement = document.getElementById("sensorData");
        sensorDataElement.innerHTML = '<p>Temperature: ' + data.sensor1 + '</p>' +
            '<p>Humidity: ' + data.sensor1 + '</p>' +
            '<p>Other Data: ' + data.sensor3 + '</p>';
    }
</script>

<label for="connect">WebSocket connection:</label>
<button id="connect" class="btn btn-default" type="submit">
    Connect
</button>

<label for="disconnect">Disconnect and return:</label>
<button id="disconnect" class="btn btn-default" type="submit">
    Disconnect
</button>

<div class="col-md-6">
    <form class="form-inline">
        <div class="form-group">
            <label for="name">What is your name?</label>
            <input
                    type="text"
                    id="name"
                    class="form-control"
                    placeholder="Your name here..."
            />
        </div>
        <button id="send" class="btn btn-default" type="submit">
            Send
        </button>
    </form>
</div>

<div id="sensorData1">
    <p id="sensorData"></p>
</div>

</body>
</html>