<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personal page</title>
</head>
<body>

<h1>THIS IS PERSONAL PAGE!</h1>

<div th:if="${session.user}" >
    <p th:text="'Username:' + ${session.user.username}" ></p>

    <a th:each="device : ${devices}" th:text="${device.serialNumber} + ' ' + ${device.deviceName}" th:href="@{/showHiveDetails(deviceId=${device.deviceId})}">
    </a>

<!--    <ul th:each="device : ${devices}">-->
<!--        <li th:text="${device.serialNumber} + ' ' + ${device.deviceName}" th:href="@{/showHiveDetails(deviceId=${device.deviceId})}"></li>-->
<!--    </ul>-->
</div>

</body>
</html>